<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:include="fragments/header"></th:block>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1 th:text="${userDetail.fullName}"> Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Student</a></li>
                                <li class="active">View</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 th:text="${userDetail.fullName}"></h4>
                    </div>
                    <div class="card-body">
                        <div class="panel-heading">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">Demographic Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">Contact Info</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="subjects-tab" data-toggle="tab" href="#subjects" role="tab"
                                       aria-controls="subjects" aria-selected="false">Subjects Details</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab"
                                       aria-controls="results" aria-selected="false">Assignments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="uploadAssignments-tab" data-toggle="tab" href="#results"
                                       role="tab"
                                       aria-controls="results" aria-selected="false">Upload Assignments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="studentAssignments-tab" data-toggle="tab" href="#results"
                                       role="tab"

                                       aria-controls="results" aria-selected="false">My Students Assignments</a>
                                </li>


                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content pl-3 p-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="row">
                                        <label class="col-sm-2">First Name</label>
                                        <div class="col-sm-10" th:text="${userDetail.firstName}"></div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2">Last Name</label>
                                        <div class="col-sm-10" th:text="${userDetail.lastName}"></div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2">Gender</label>
                                        <div class="col-sm-10" th:text="${student.gender}"></div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2">Date of Birth</label>
                                        <div class="col-sm-10" th:text="${student.dateOfBirth}"></div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2">Age: </label>
                                        <div class="col-sm-10" th:text="${student.age}"></div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="subjects" role="tabpanel" aria-labelledby="profile-tab">

                                    <div sec:authorize="hasAuthority('TEACHER')">
                                        <button type="button" class="btn btn-secondary mb-1" data-toggle="modal"
                                                data-target="#subjectModal">
                                            New Subject
                                        </button>
                                    </div>
                                    <!--<div sec:authorize="hasAuthority('TEACHER')">-->
                                    <!--</div>-->

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>Subject name</th>
                                            <th>Mark Obtained</th>
                                            <th>Grade Result</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tr th:each=" grade: ${grades}">
                                            <td th:text="${grade.subject?.name}"></td>
                                            <td th:text="${grade.mark}"></td>
                                            <td th:text="${grade.markPercentage}"></td>


                                            <div sec:authorize="hasAuthority('TEACHER')">

                                                <td class='text-center'><a href='#' th:id="${grade.id}"
                                                                           class="aprove"><span
                                                        class='glyphicon glyphicon-user'
                                                        aria-hidden='true'>Update Mark</span></a>
                                                </td>

                                                <td>
                                                    <a class="btn btn-success btn-danger"
                                                       href="">Delete</a>
                                                </td>
                                            </div>


                                        </tr>

                                    </table>


                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="subjects-tab">

                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal"
                                            data-target="#contactModal">
                                        New Contact
                                    </button>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>Address Line 1</th>
                                            <th>Address Line 2</th>
                                            <th>Address Type</th>
                                            <th>Contact No.</th>

                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tr th:each=" address: ${addressList}">
                                            <td th:text="${address.addressLine1}"></td>
                                            <td th:text="${address.addressLine2}"></td>
                                            <td th:text="${address.addressType}"></td>
                                            <td th:text="${address.contact}"></td>
                                            <td>
                                            </td>
                                            <td>
                                                <a class="btn btn-success btn-danger"
                                                   href="">Delete</a>
                                            </td>

                                        </tr>

                                    </table>

                                </div>


                                <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
                                </div>


                                <!--==================================================================================ASSIGNMENTS=======================================================-->
                                <div class="tab-pane fade" id="uploadAssignments" role="tabpanel"
                                     aria-labelledby="uploadAssignments-tab">

                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal"
                                            data-target="#assignmentsModal">
                                        Add Assignment
                                    </button>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>Subject</th>
                                            <th>Assignmment Name</th>
                                            <th>Marks %</th>
                                            <th>Due Date</th>

                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <!--<tr th:each=" address: ${addressList}">-->
                                        <!--<td th:text="${address.addressLine1}"></td>-->
                                        <!--<td th:text="${address.addressLine2}"></td>-->
                                        <!--<td th:text="${address.addressType}"></td>-->
                                        <!--<td th:text="${address.contact}"></td>-->
                                        <td>
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn-danger"
                                               href="">Delete</a>
                                        </td>

                                        </tr>

                                    </table>

                                </div>

                                <!--===========================================================================================================================================                             -->





                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContact">Contact Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">

                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" th:object="${address}" method="post"
                              th:action="@{'/address/save/' + ${student.id}}" role="form">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group"><label for="addressLine1" class=" form-control-label">Address Line 1
                            </label><input type="text" id="addressLine1" name="addressLine1" th:field="*{addressLine1}"
                                           required="" placeholder="Enter your address line 1" class="form-control">
                                <div th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>
                            </div>

                            <div class="form-group"><label for="addressLine2" class=" form-control-label">Address Line 2
                            </label><input type="text" id="addressLine2" name="addressLine2" th:field="*{addressLine2}"
                                           required="" placeholder="Enter your address line " class="form-control">
                                <div th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"></div>
                            </div>

                            <div class="form-group"><label for="contact" class=" form-control-label">Contact Line
                            </label><input type="text" id="contact" name="contact" th:field="*{contact}"
                                           required="" placeholder="Enter your contact line " class="form-control">
                                <div th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></div>
                            </div>

                            <div class="form-group">
                                <label>Select Address Type </label>
                                <select class="form-control" th:field="*{addressType}">
                                    <option th:each="addressType : ${addressTypes}"
                                            th:value="${{addressType}}"
                                            th:text="${addressType.name}">
                                    </option>
                                </select>
                            </div>


                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>


    </div>
</div>

<div id="modalHolder">
    <div class="modal fade" id="subjectModal" th:fragment="modalContents" tabindex="-1" role="dialog"
         aria-labelledby="mediumModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSubject">Subject Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">

                        <div class="card-body card-block">


                            <form autocomplete="off" class="sky-form" th:object="${newGrade}" method="post"
                                  th:action="@{'/grades/save/' + ${student.id}}" role="form">

                                <input type="hidden" th:field="*{id}"/>

                                <div class="form-group">
                                    <label>Select Subject </label>
                                    <select class="form-control" th:field="*{subject}">
                                        <option th:each="subject : ${subjects}"
                                                th:value="${{subject.id}}"
                                                th:text="${subject.name}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group"><label for="mark" class=" form-control-label">Please enter mark
                                    obtained:
                                </label><input type="text" id="mark" name="mark" th:field="*{mark}"
                                               required="" placeholder="Enter mark " class="form-control">
                                    <div th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"></div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit"
                                            th:onclick="'javascript:editSubject(\'' + ${newGrade.id} +'\');'"
                                            class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                data-target="#deleteProductModal" data-productid="1"
                                                data-productname="Product 1">Delete
                                        </button>
                                    </td>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>


        </div>
    </div>


</div>

<!--=============================================================ASSIGNMENT UPLOAD MODAL ===================================-->
<div class="modal fade" id="assignmentsModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAssignment"> Add Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">

                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" th:object="${assignment}" method="post"
                              th:action="@{'/assignment/save/' + ${assignment.id}}" role="form">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group"><label for="addressLine1" class=" form-control-label">Address Line 1
                            </label><input type="text" id="addressLine1" name="addressLine1" th:field="*{addressLine1}"
                                           required="" placeholder="Enter your address line 1" class="form-control">
                                <div th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>
                            </div>

                            <div class="form-group"><label for="addressLine2" class=" form-control-label">Address Line 2
                            </label><input type="text" id="addressLine2" name="addressLine2" th:field="*{addressLine2}"
                                           required="" placeholder="Enter your address line " class="form-control">
                                <div th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"></div>
                            </div>

                            <div class="form-group"><label for="contact" class=" form-control-label">Contact Line
                            </label><input type="text" id="contact" name="contact" th:field="*{contact}"
                                           required="" placeholder="Enter your contact line " class="form-control">
                                <div th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></div>
                            </div>

                            <div class="form-group">
                                <label>Select Address Type </label>
                                <select class="form-control" th:field="*{addressType}">
                                    <option th:each="addressType : ${addressTypes}"
                                            th:value="${{addressType}}"
                                            th:text="${addressType.name}">
                                    </option>
                                </select>
                            </div>


                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>


    </div>
</div>

<!--===============================================================ASSIGNMENT END ==================================================-->

<div id="productdetailsModal" class="modal fade">
    <div class="modal-dialog">
        <form method="post" id="product_form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i> Product Details</h4>
                </div>
                <div class="modal-body">
                    <Div id="product_details"></Div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

<script>
    function editSubject(id) {
        $.ajax({
            url: "/grades/single/" + id,
            success: function (response) {

                alert("===========================" + response)
                $('#modalHolder').html(response);
                $('#subjectModal').modal();
                $('#subjectModal').modal('open');
            }
        });
    }
</script>

<div th:include="fragments/footer"></div>
</html>