<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title id="pageTitle">Edit Subject </title>
</head>

<div th:include="fragments/header"></div>
<body class="bg-cyan">
<br/>
<br/>


<div class="body">
    <div id="wrapper">


        <form autocomplete="off" class="sky-form" th:object="${subject}" method="post"
              th:action="@{/admin/subject/save}"
              role="form">

            <header> Subject Details</header>

            <div>
                <fieldset>

                    <input type="hidden" th:field="*{id}"/>

                    <section>
                        <div class="row">
                            <div class="col col-5">
                                <label class="input">
                                    <i class="icon-append icon-user"></i>
                                    <input type="text" id="name" name="name" th:field="*{name}"
                                           required=""
                                           placeholder="Enter Subject Name "/>
                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message
                                    </div>
                                </label>
                            </div>
                        </div>
                    </section>

                    <div>
                        <button type="submit" class="button">Update Subject Details</button>
                    </div>

                    <div>
                        <a th:href="@{/admin/list}" class="buttonLeftCancel">Cancel</a>
                    </div>
                    </footer>

                </fieldset>
            </div>

            <span th:utext="${successMessage}"></span>

        </form>

    </div>
</div>

<div th:include="fragments/footer"></div>

</body>
</html>