<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dasboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Schools List</strong>
                    </div>


                    <a class="btn btn-primary "  th:href="@{/admin/school/add}">Add New School</a>


                    <div class="card-body">
                        <table id="roleListTable" th:inline="none" cellspacing="0" width="100%" class="table table-striped">
                            <br/>
                            <span th:utext="${successMessage}" class="text-success"></span>
                            <thead>
                            <tr>
                                <th scope="col">School Name</th>
                                <th scope="col">Centre Number</th>
                                <th scope="col">Province</th>
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="school : ${schools}">
                                <td th:text="${school.name}"></td>
                                <td th:text="${school.centerNumber}"></td>
                                <td th:text="${school.province.name}"></td>
                                <td><a th:href="@{'/admin/school/update/' + ${school.id}}" class="btn btn-warning">Update</a></h2>
                                </td>
                                <td><a th:href="@{'/admin/school/delete/' + ${school.id}}"
                                       onclick="return confirm('Are you sure you want to delete this!!!!')" class="btn btn-danger">Delete</a></h2>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        $('#teacherListTable').DataTable();
    </script>


</div>
</div>
<div th:include="fragments/footer"></div>
