<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>
<footer>
    <div th:fragment="footer">
        <div class="footer_bottom text-center">
            <p class="wow fadeInRight">
                Developed And Mantained
                <i class="fa fa-heart"></i>
                by
                <a target="_blank" href="http://soskode.co.zw"> SOSKODE </a>
                2018. All Rights Reserved
            </p>
        </div><!-- Footer bottom end -->
    </div>
</footer><!-- Footer end -->
</body>
</html>