<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dasboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">

    <div class="animated fadeIn">
        <div class="row">

            <a class="btn btn-primary " th:href="@{/admin/role/add}">New Role</a>


            <div class="panel-heading">Roles</div>


            <table id="roleListTable" th:inline="none" cellspacing="0" width="100%" class="table table-striped">
                <br/>
                <span th:utext="${successMessage}" class="text-success"></span>
                <thead>
                <tr>
                    <th scope="col">Role ID</th>
                    <th scope="col">Role Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.id}"></td>
                    <td th:text="${role.name}"></td>
                    <td><a th:href="@{'/admin/role/update/' + ${role.id}}" class="btn btn-info">Update</a></td>
                    <td><a th:href="@{'/admin/role/delete/' + ${role.id}}"
                           onclick="return confirm('Are you sure you want to delete this!')" class="btn btn-danger">Delete</a></h2>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<script th:inline="none">
    $(document).ready(function () {
        $('#roleListTable').DataTable();
    });
    $(document).ready(function () {
        $('#example').DataTable({
            "roleListTable": [[3, "desc"]]
        });
    });
</script>
</div>
<div th:include="fragments/footer"></div>
