<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/header"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Blank</h1>
                <p>This is the homepage.</p>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer"></div>